In [1]:
%pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/ucloud/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/ucloud/.local/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ucloud/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ucloud/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/ucloud/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv("../cleaned_feuilleton.csv", sep="\t")
df.head()

,Unnamed: 0,article_id,text,is_feuilleton,feuilleton_id
0,0,thi_000004,den store engelske taler phillips carakteer-sk...,y,thi_napoleon-skildring
1,1,thi_000005,"stor, skummel, og egen sad han paa thronen, li...",y,thi_napoleon-skildring
2,2,thi_000006,"en fast, kjæk og selvstændig sjæl, en villie d...",y,thi_napoleon-skildring
3,3,thi_000007,"kastet ind i verden i midten af en revolution,...",y,thi_napoleon-skildring
4,4,thi_000008,med ingen anden ven end sit sværd og ingen i f...,y,thi_napoleon-skildring

In [4]:
df = df.drop(columns=['Unnamed: 0'])
print(df.dtypes)

article_id       object
text             object
is_feuilleton    object
feuilleton_id    object
dtype: object

In [6]:
nan_count = df.isna().sum()
print(nan_count)

df['article_id'] = df['article_id'].fillna('')
nan_count = df.isna().sum()
print(nan_count)

article_id         1
text               0
is_feuilleton      0
feuilleton_id    768
dtype: int64
article_id         0
text               0
is_feuilleton      0
feuilleton_id    768
dtype: int64

In [7]:
print(len(df))

# make sure they are all strings
df['article_id'] = df['article_id'].astype(str)
df['text'] = df['text'].astype(str)

df = df[['article_id','text']]

df.to_csv("../cleaned_feuilleton.csv", sep="\t", index=False)

1459

In [17]:
for i, row in df.iterrows():
    if len(row['text']) < 60:
        print(row['text'])

her sammentrak min mund sig uvilkaarlig til latter.
----- julie eller reliqvierne i dobberan. (sluttet.
----- kjerlighedskuren. (sluttet.) . excursionen.
j denne anledning har man et besynderligt træk af ham:
forlovelse nogle maaneder, da vores tante er død.
hr. von st. germain og hans reisekammeraters skjæbne.
hvad kan vente sig mere af en oxe end et brøll.
literaire blandinger. skibene esser og eagles skibbrud.
grevinde london forlod den uden at have seet ex-reiseren.
p. o. faber. udførligere fortælling om min fængsling.
ved christionia har et æbletræe iaar baaret den gang frugt.
efter canzler niemeyers beretning har london , jndvaanere.